main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
}
.content {
  width: 200px;
  height: 200px;
  text-align: center;
  background-color: #eee;
}
